@media (min-width: 1601px) and (max-width: 1920px) {
  .cmp-2.flex_container {
    background: darkgoldenrod;
    height: 39.93694167104572vw;
    max-height: 760px;

    .inner_flex_container {
      background: seagreen;
      width: 708px;
      max-width: 708px;
      height: 276px;
      max-height: 276px;
    }
  }
}
