@media (min-width: 320px) and (max-width: 767px) {
  .cmp-2.flex_container {
    @include flex;
    height: 65.93694167104572vw;
    min-height: 212px;

    .inner_flex_container {
      @include position-relative($top: -2px, $left: 0px);
      width: 95vw;
      height: 35.9375vw;

      h2 {
        @include font(25px, 200, 30px);
        @include position-relative($top: -2px, $left: -2px);
      }

      h1 {
        @include font(30px, 700, 36px, $font-name: $montserrat-font);
        @include position-relative($top: -4px, $left: -2px);
      }

      p {
        @include font(9px, 300, 10.8px);
        @include position-relative($top: -3px, $left: -2px);
        letter-spacing: -0.0052em;
        span {
          display: none;
        }
      }

      button {
        @include bordered-button(
          $width: 18.75vw,
          $height: 5.729166666666667vw,
          $before-width: 94%
        );
        min-width: 64px;
        max-height: 26.641px;
        max-width: 81.75px;
        @include font(7px, 700, 13.77px);
        @include position-relative($top: 14px, $left: -1.5px);
      }
    }

    .arrows {
      display: none;
    }
  }
}
