$icons: (
  2: "\f013",
  3: "\f041",
  4: "\f004",
  5: "\f044",
);

.cmp-3 {
  @include flex;

  .grid_container {
    max-width: 1188px;

    .gritem-1 {
      h1 {
        @include font(31px, 600, 34px);
        @include position-relative($top: -2px);

        span {
          color: $project-green;
        }
      }

      .heading_decoration {
        @include position-relative;
        margin: 10px auto 0;
        width: 110px;

        .fa-bullhorn {
          transform: rotate(-25deg);
        }

        &::before,
        &::after {
          position: absolute;
          content: "";
          width: 37px;
          height: 1.1px;
          background: $decor-grey;
          top: 50%;
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }
      }
    }

    .mobile-img,
    .mobile-list {
      display: none;
    }
  }
}
