@media (min-width: 1025px) and (max-width: 1200px) {
  .cmp-1 {
    .flex_container {
      width: 61.2%;
      height: 100px;
      max-height: 100px;
      min-width: 970px;

      ul {
        min-width: 550px;
      }
    }
  }
}
