@media (min-width: 320px) and (max-width: 767px) {
  .cmp-1 {
    @include flex;

    .flex_container {
      width: 93.12046936114733vw;
      height: 14.08083441981747vw;
      margin: 0 21px;
      min-height: 67px;
      max-height: 108px;

      .icon {
        width: 28vw;
        height: auto;
        min-width: 85.75px;
        min-height: 38.49px;
        top: 0.4161458333333333vw;
        left: 0;

        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }

      ul {
        display: none;
        min-width: 550px;
      }

      .burger_menu {
        @include bordered-button(
          $width: 7.291666666666667vw,
          $height: 5.208333333333333vw
        );
        min-width: 48px;
        min-height: 31px;
        flex-direction: column;
        row-gap: 3px;
        .burger_lines {
          background: white;
          width: 3.90625vw;
          min-width: 22px;
          height: 2px;
        }
      }
    }
  }
}
