@media (min-width: 768px) and (max-width: 1024px) {
  .cmp-1 {
    .flex_container {
      width: auto;
      min-width: 278.391px;
      max-width: 93%;
      height: 14.0625vw;
      min-height: 67px;
      max-height: 108px;

      .icon {
        top: -0.5557291666666667vw;
      }

      ul {
        display: none;
      }

      .burger_menu {
        @include bordered-button(
          $width: 7.291666666666667vw,
          $height: 5.208333333333333vw
        );
        background: $project-green;
        flex-direction: column;
        row-gap: 3px;

        .burger_lines {
          background: white;
          width: 3.90625vw;
          height: 2px;
        }
      }
    }
  }
}
