@media (min-width: 321px) and (max-width: 768px) {
  .cmp-1 {
    .flex_container {
      width: 61.2%;
      height: 100px;
      max-height: 100px;
      min-width: 700px;

      .icon {
        min-width: 100px;
      }

      ul {
        min-width: 550px;
      }
    }
  }
}
