$fa-font: "FontAwesome";
$raleway-font: "Raleway", sans-serif;
$montserrat-font: "Montserrat", sans-serif;
$navbar-font: "Open Sans", sans-serif;

@mixin flex($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin position-relative($top: 0, $left: 0) {
  position: relative;
  top: $top;
  left: $left;
}

@mixin bordered-button(
  $width: 144px,
  $height: 44px,
  $before-width: 88%,
  $before-height: 82%
) {
  position: relative;
  @include flex;
  width: $width;
  height: $height;
  background: $project-green;
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    width: $before-width;
    height: $before-height;
  }
  &:hover {
    background: $project-green-hover;
  }
  &:active {
    background: $project-green;
  }
}

@mixin button($width: 144px, $height: 44px) {
  width: $width;
  height: $height;
  background: $project-green;
  border: none;
  cursor: pointer;
  @include font(13px, 700, 34px);
  letter-spacing: 0.005em;
  &:hover {
    background: $project-green-hover;
  }
  &:active {
    background: $project-green;
  }
}

@mixin font($font-size, $font-weight, $line-height, $font-name: $raleway-font) {
  font: {
    family: $font-name;
    size: $font-size;
    weight: $font-weight;
  }
  line-height: $line-height;
}

@mixin center-absolute-element(
  $top: 50%,
  $left: 50%,
  $tr-left: -50%,
  $tr-top: -50%
) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate($tr-left, $tr-top);
}

//@include background(#5500ff);
@mixin background($color1) {
  background-image: radial-gradient($color1 20%, transparent 20%),
    radial-gradient($color1 20%, transparent 20%);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

* {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;

  a {
    color: $project-white;
    text-decoration: none;
    user-select: none;
    text-transform: uppercase;
  }
}
