$fa-font: "FontAwesome";
$raleway-font: "Raleway", sans-serif;
$montserrat-font: "Montserrat", sans-serif;
$navbar-font: "Open Sans", sans-serif;

@mixin flex($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin position-relative($top: 0, $left: 0) {
  position: relative;
  top: $top;
  left: $left;
}

@mixin bordered-button(
  $width: 144px,
  $height: 44px,
  $before-width: 88%,
  $before-height: 82%
) {
  position: relative;
  @include flex;
  width: $width;
  height: $height;
  background: $project-green;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    width: $before-width;
    height: $before-height;
  }

  &:hover {
    background: $project-green-hover;
  }

  &:active {
    background: $project-green;
  }
}

@mixin font($font-size, $font-weight, $line-height, $font-name: $raleway-font) {
  font: {
    family: $font-name;
    size: $font-size;
    weight: $font-weight;
  }
  line-height: $line-height;
}

* {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 200vh;
}
