html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 200vh;
}

.cmp-1 {
  background: #1e1e1e;
}

.cmp-1 .flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.cmp-1 .flex_container .icon {
  position: relative;
  top: -0.5px;
  left: -2px;
}

.cmp-1 .flex_container ul {
  width: 63.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  list-style-type: none;
}

.cmp-1 .flex_container ul a {
  color: white;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
}

.cmp-1 .flex_container .burger_menu {
  display: none;
}

@media (min-width: 1601px) and (max-width: 1920px) {
  .cmp-1 .flex_container {
    width: 61.2%;
    height: 100px;
    max-height: 100px;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .cmp-1 .flex_container {
    width: 61.2%;
    height: 100px;
    max-height: 100px;
    min-width: 715px;
  }
  .cmp-1 .flex_container ul {
    min-width: 550px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cmp-1 .flex_container {
    width: 61.2%;
    height: 100px;
    max-height: 100px;
    min-width: 715px;
  }
  .cmp-1 .flex_container ul {
    min-width: 550px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .cmp-1 .flex_container {
    width: auto;
    margin: 0 26.875px;
    min-width: 278.391px;
    max-width: 93%;
    height: 14.0625vw;
    min-height: 67px;
    max-height: 108px;
  }
  .cmp-1 .flex_container .icon {
    width: 15.5vw;
    height: 5.859375vw;
    min-width: 85.84px;
    min-height: 38.49px;
    top: -0.4557291666666667vw;
  }
  .cmp-1 .flex_container ul {
    display: none;
    min-width: 550px;
  }
  .cmp-1 .flex_container .burger_menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 7.29167vw;
    height: 5.20833vw;
    background: #3ab6b2;
    min-width: 48px;
    min-height: 31px;
    background: #3ab6b2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3px;
  }
  .cmp-1 .flex_container .burger_menu::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 1px solid white;
    width: 88%;
    height: 82%;
  }
  .cmp-1 .flex_container .burger_menu .burger_lines {
    background: white;
    min-width: 22px;
    width: 3.90625vw;
    height: 2px;
  }
}

@media (max-width: 320px) {
  .cmp-1 .flex_container {
    width: 87%;
    height: 67px;
    max-height: 108px;
  }
  .cmp-1 .flex_container .icon {
    width: 89.75px;
    height: 38.49px;
    top: 0.4161458333333333vw;
  }
  .cmp-1 .flex_container ul {
    display: none;
    min-width: 550px;
  }
  .cmp-1 .flex_container .burger_menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 48px;
    height: 31px;
    background: #3ab6b2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3px;
  }
  .cmp-1 .flex_container .burger_menu::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 1px solid white;
    width: 88%;
    height: 82%;
  }
  .cmp-1 .flex_container .burger_menu .burger_lines {
    background: white;
    width: 22px;
    height: 2px;
  }
}
/*# sourceMappingURL=main.css.map */